<div class="container_second">
    <h2>Livros</h2>
    <div class="illustration">
        <p>
            Aqui podem ser vistos títulos dos livros já estudados.
        </p>
        <br>
        <img src="static/css/book_image/fundo_robo.png" alt="Imagem">
    </div>
    <div class="content_post">
        {% block posts %}
            {% for post in posts %}
                {% if post.category == "Livros" %}
                    {% include "main/global/parcial/postblock.html" %}
                {% endif %}
            {% endfor %}
        {% endblock posts %}
    </div>
</div>
