<div class="container">
    <img src="static/css/profile_image/foto.jpg" alt="Foto">
    <div class="description">
        <h2>PROFISÃO</h2>
        <br>
        <ul>
            <li>
                Analista de Dados;
            </li>
        </ul>
        <ul>
            <li>
                Assistente de T.I;
            </li>
        </ul>
        <ul>
            <li>
                Cargos compatíveis a
                personalidade e habilidades na área da
                T.I;
            </li>
        </ul>
        <ul>
            <li>
                Desenvolvedor em Linguagem Python;
            </li>
        </ul>
        <ul>
            <li>
                Estágio em Rede de Computadores;
            </li>
        </ul>
        <ul>
            <li>
                Estágio em T.I;
            </li>
        </ul>
        <ul>
            <li>
                Trabalhar na área
                de Tecnologia da Informação(T.I)
            </li>
        </ul>
    </div>
</div>
